.logo {
  width: 140px;
  rotate: 14deg;
}

.box {
  box-shadow: none;
}

.loginLabel {
  text-align: left;
}

.formDiv {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 400px;
}

button {
  width: 400px;
}

p.text {
  margin-top: 3%;
}

.loginDiv {
  padding: 4rem;
  background-color: rgb(255, 255, 255, 0.18);
  border-radius: 3%;
}

.loginBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../../assets/fondo.png);
}

.orText {
  margin-top: 15px;
  font-size: 14px;
}