.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 1fr; */
  gap: 1px;
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  min-height: 100px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noPhotos {
  margin-top: 60px;
  display: flex;
  color: gray;
  font-weight: 700;
  align-items: right;
}
