div.postDiv {
  width: 50%;
  border: 1px solid rgb(255, 206, 229);
  border-radius: 20px;
  margin-bottom: 1rem;
  transition: 1s;
}

.postDiv:hover {
  background-color: rgba(255, 206, 229, 0.202);
  transition: 1.5s;
}
