div.modal-content {
  margin-top: 12rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 550px;
}

div.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

div.card-header {
  height: 50px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.createFoto {
  height: 150px;
}

p {
  font-size: 20px;
}

button.subirFoto {
  width: 200px;
  height: 40px;
  font-size: 14px;
  color: white;
  margin-top: 1rem;
}
