.modal {
  align-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.738);
  align-items: center;
  justify-content: center;
  transition: 1s;
  place-items: center;
  transition: 0.5s;
}

.editModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 400px;
  padding: 3rem;
  transition: 0.5s;
}

.editModal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
}

#taskForm {
  margin-top: 2rem;
}

.editTitle {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h2.title.is-4 {
  margin: 0;
  margin-right: 0.5rem;
}

.editModal form {
  display: flex;
  flex-direction: column;
}

.editModal form label {
  margin-bottom: 10px;
}

.editModal form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.modalButtons button {
  padding: 10px;
  border-radius: 15px;
  width: 160px;
}

.cancel {
  background-color: white;
  transition: 0.3s;
  border: 0.3px solid grey;
  font-weight: 600;
}

.save {
  background-color: rgb(255, 94, 102);
  color: rgb(255, 255, 255);
  transition: 0.3s;
  font-weight: 600;
}

.cancel:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

.save:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

.editModal h2 {
  display: flex;
  justify-content: center;
}

.editModal form .columns .column .box {
  background-color: #ffe5d9;
}
