.modal {
  align-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.738);
  align-items: center;
  justify-content: center;
  transition: 1s;
  place-items: center;
  transition: 0.5s;
}

.preview {
  background-color: white;
  width: 60%;
  height: 80%;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0;
}

.columns {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgb(255, 206, 229);
}

.headerPreview {
  height: 10%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
}

.uploadedPhoto {
  object-fit: contain;
  background-color: black;
  max-width: 50%;
  max-height: 90%;
}

.commentArea {
  margin: 1rem;
  margin-left: 1rem;
  height: 80%;
}

.userNameComment {
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.comment {
  box-shadow: none;
  border: none;
  width: 95%;
  min-height: 90%;
  font-size: 16px;
  margin-top: 5px;
}

.comment:focus {
  border: none;
  outline: none;
}

.titleCreate {
  font-weight: 600;
}

.profileNameComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 1rem;
  padding-left: 0.5rem;
}

.compartir {
  width: 110px;
  background-color: white;
  font-weight: 700;
  color: rgb(0, 136, 255);
}

.compartir:hover {
  transition: 0.5s;
  transform: scale(1.08);
}

.botonAtras {
  background-color: white;
  border: 0;
  box-shadow: none;
  width: 110px;
  text-align: left;
  padding-left: 15px;
}

.closeModal {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .modal {
    display: flex;
    align-items: flex-end;
  }
  .preview {
    margin: 0rem;
    width: 100%;
    height: 92%;
    border-radius: 0;
  }

  .columns {
    flex-direction: column;
  }

  .uploadedPhoto {
    object-fit: contain;
    background-color: black;
    min-width: 100%;
    max-height: 55%;
  }

  .modal {
    padding: 0;
  }
}

@media only screen and (min-width: 600px) {
  .preview {
    margin: 6.5rem;
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .preview {
    margin: 0;
    width: 60%;
  }
}
