.modal.editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.788);
  place-content: center;
  transition: 1s;
}

.modal-content.editModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 600px;
  padding: 3rem;
  margin-top: 0;
  transition: 1s;
}

.modal.editModal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
}

#taskForm {
  margin-top: 2rem;
  transition: 1s;
}

.editTitle {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h2.title.is-4 {
  margin: 0;
  margin-right: 0.5rem;
}

.modal.editModal form {
  display: flex;
  flex-direction: column;
}

.modal.editModal form label {
  margin-bottom: 10px;
}

.modal.editModal form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.field.loginLabel {
  text-align: left;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.modal-buttons button {
  padding: 10px;
  border-radius: 15px;
  width: 160px;
}

.cancel {
  background-color: white;
  transition: 0.3s;
  border: 0.3px solid grey;
  font-weight: 600;
}

.save {
  background-color: rgb(184, 211, 255);
  color: rgb(54, 54, 54);
  transition: 0.3s;
  font-weight: 600;
}

.cancel:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

.save:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

.modal-content.editModal h2 {
  display: flex;
  justify-content: center;
}

div.modal {
  width: 100%;
  height: 100%;
  align-content: center;
  transition: 1s;
}

@media only screen and (max-width: 700px) {
  div.modal-content.editModal {
    width: 100%;
    margin: 0;
    border-radius: 0;
    height: 100vh;
    top: 0vh;
    bottom: 0;
    transition: 1s;
    align-self: center;
  }
  .modal {
    width: 100%;
    height: 100%;
    transition: 1s;
    align-content: center;
  }

  div.modal-background {
    height: 0;
    transition: 1s;
    display: flex;
    align-content: center;
  }

  #taskForm {
    width: 100%;
    transition: 1s;
  }
}
