.container {
  overflow-x: auto;
  max-width: 1100px;
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 5%;
  padding: 0.5rem;
  padding-bottom: 0;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  transition: 0.3s;
}

.viewTitle {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 0%;
  margin-bottom: 1%;
  font-weight: 700;
  color: rgb(232, 148, 183);
}

div.container:hover {
  scrollbar-color: rgba(193, 193, 193, 0.627) #d5d5d50f;
  transition: 1s;
}
