#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  width: 100%;
}

/* body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/Users/jbevc/Desktop/ProyectoDWYM/vite-project/src/assets/fondo.png);
} */
