#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  background-color: white;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/Users/jbevc/Desktop/ProyectoDWYM/vite-project/src/assets/fondo.png);
}
