.Likes {
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Iconos {
  display: flex;
  margin-top: 12px;
}

.divPostBottom {
  padding: 5px;
}

.Comentarios {
  display: flex;
  justify-content: left;
}

.Iconos :hover {
  color: rgb(67, 127, 223);
  transition: 0.5s;
  font-size: 35;
}
