.Likes {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Iconos {
  display: flex;
  margin-top: 10px;
}

.divPostBottom {
  padding: 5px;
}

.commentInput {
  border: 1px solid rgb(255, 206, 229);
  width: 468px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s ease-in-out;
  height: 40px;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border: 3px solid rgb(255, 206, 229);
  background-color: white;
  transition: 0.3s;
}

.ComentariosContent {
  justify-content: left;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 15px;
}

.Iconos :hover {
  transform: scale(1.03);
  transition: 0.2s;
  font-size: 35;
}

.Iconos .heartIcon:hover {
  color: rgb(206, 68, 68);
  transition: 0.2s;
}

.Iconos .comentario:hover {
  color: rgb(111, 161, 240);
  transition: 0.2s;
}

.Comentarios p {
  margin: 0;
}

.listaComentarios {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  width: 450px;
  transition: 0.5s;
}

.listaComentarios:hover {
  scrollbar-color: rgba(193, 193, 193, 0.627) #d5d5d50f;
  transition: 0.3s;
}

.commentSend {
  margin-top: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  max-height: 50px;
  position: relative;
  display: inline-block;
}

.sendButton {
  position: absolute;
  top: 4px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
}

.sendButton:hover {
  color: rgb(111, 161, 240);
  transition: 0.5s;
}
