.registerBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/fondo.png);
}

.formBackground {
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.304);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.buttonDiv{
    display: flex;

    flex-direction: column;
    gap: 10px; 
    margin-top: 50px;
}

input {
    border-radius: 5px;
}

.button.cancel-button {
    background-color: #edede9;
}

.registerLabel {
    text-align: left;
}

h2.title.registerTitle {
    margin-bottom: 50px;

}