.registerBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/fondo.png);
}

.formBackground {
    padding: 4rem;
    background-color: rgb(255, 255, 255, 0.18);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 35px;
}

input {
    border-radius: 5px;
}

div.box {
    background-color: rgba(255, 255, 255, 0.5);
}

.button.cancel-button {
    background-color: #edede9;
}