/* .postInfo {
  display: flex;
  flex-direction: column;
} */

.box {
  background-color: white;
  width: 70%;
  height: 80%;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0;
}

.modal {
  align-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.738);
  align-items: center;
  justify-content: center;
  transition: 1s;
  place-items: center;
}

/* .postInfo {
  display: flex;
  flex-direction: row;
  padding: 1rem;
} */

.avatarYNombre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.closeModalIcon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 30px;
  color: white;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  max-width: relative;
  overflow: hidden;
}

.rightTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid rgb(255, 206, 229);
  border-top: none;
  border-right: none;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-left: none;
  height: 13%;
}

.postImage {
  object-fit: contain;
  background-color: black;
  max-width: 50%;
}

.postComments {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.postComments p {
  margin: 1rem;
  margin-left: 0;
  margin-right: 0;
}

.commentsAndLikes {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 23%;
}

.commentsList {
  text-align: left;
  height: 80%;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  width: 450px;
  transition: 0.5s;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.commentsList:hover {
  scrollbar-color: rgba(193, 193, 193, 0.627) #d5d5d50f;
  transition: 0.3s;
}

.commentInput {
  border: 1px solid rgb(255, 206, 229);
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s ease-in-out;
  height: 40px;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border: 3px solid rgb(255, 206, 229);
  background-color: white;
  transition: 0.3s;
}

.commentSend {
  display: flex;
  align-items: center;
  align-content: center;
  max-height: 50px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.sendButton {
  position: absolute;
  top: 7px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
}

.sendButton:hover {
  color: rgb(111, 161, 240);
  transition: 0.5s;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  margin-bottom: 5px;
}

.iconos {
  display: flex;
  margin: 0;
}

.iconos :hover {
  transform: scale(1.03);
  transition: 0.2s;
  font-size: 35;
}

.iconos .heartIcon:hover {
  color: rgb(206, 68, 68);
  transition: 0.2s;
}

.iconos .comentario:hover {
  color: rgb(111, 161, 240);
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  .closeModalIcon {
    top: 5rem;
    right: 1rem;
  }
  .box {
    margin-top: 9vh;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .modal {
    padding: 0;
  }

  .columns {
    flex-direction: column;
  }

  .postComments {
    width: 100%;
  }

  .leftColumn {
    height: 40%;
    width: 100%;
  }

  .rightColumn {
    height: 50%;
    width: 100%;
  }

  .postImage {
    min-width: 100%;
    max-height: 40%;
  }

  .commentsList {
    height: 40%;
    overflow-y: scroll;
  }

  .rightTop {
    height: 17%;
  }
}

@media only screen and (min-width: 600px) {
  .box {
    margin-top: 5rem;
  }
  .rightColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .box {
    margin-top: 0;
  }
}
