.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .username {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .content {
    flex-grow: 1;
    margin-right: 10px;
    overflow-wrap: anywhere;
  }
  
  .deleteIcon {
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
  }
  
  .deleteIcon:hover {
    color: rgb(206, 68, 68);
  }
  