.spanText {
  font-weight: 600;
  font-size: 16px;
}

.logoSider {
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: 0.5s;
}

.logoSiderColapsado {
  height: 40px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  transition: 0.2s;
}

@media only screen and (min-width: 600px) {
  .logoSider {
    width: 200px;
    margin: 0;
  }

  .siderContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 10%;
  }
}
